@font-face {
    font-family: 'Gilroy-bold';
    src: url(font/Gilroy-Bold.woff2);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(font/Gilroy-Medium.woff2);
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(font/Gilroy-Regular.woff2);
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(font/Gilroy-Semibold.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: #FFF;
    display: flex;
    justify-content: center;
    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    
    max-width: 1179px;
    

}

header{
    margin-top: 40px;
}



.main_menu_navigation {
font-size: 14px;
font-family: Gilroy-SemiBold;
}


a {
    text-decoration: none;
    color: #000000;
        
}

.main_menu_navigation a:hover, a:focus, a:active {
    color: #F25822;
    
}
.main_menu_home_orange {
    color: #F25822;
}

.home {
    display: flex;
    justify-content: center;
    margin-top: 86px;
    min-width: 589px;
}

.home_info {
    max-width: 50%;
    min-width: 50%;
}

.Home_main_title {
    color: #000;
    font-size: 60px;
    font-family: Gilroy-Bold;
    max-width: 522px;
    max-height: 222;
    
}

.Home_information {
    color: #888;
    font-size: 20px;
    font-family: Gilroy-Medium;
    margin-top: 17px;
    margin-bottom: 37px; 
}

.home_button {
    max-width: 374px auto;
    max-height: 94px;
    display: flex;
    
}

.home_button_start{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 10px 10px;
    color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
    margin-right: 37px;

}

.home_button_clear {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #AAA;
    font-size: 15px;
    font-family: Gilroy-Bold;
    margin-left: 37px;
}

.home_image_left {
    
    min-width: 589px;
}



.brand {
    max-height: 243px;
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
    
    
}
.brand img{
    width: 160;
    height: 50; 
    align-self:flex-start;
    margin-left: 24px;
    margin-right: 24px;
    }

.main_menu {
    display: flex;
    justify-content: space-between;
}